.background-colour{
    -fx-background-color: #DCE7F7;
}

.booking-info {
    -fx-font-family: "Playfair Display", serif;
}

.no-app-label {
    -fx-font-size: 20px;
    -fx-text-fill: #7F8C8D;
    -fx-font-family: "Playfair Display";
    -fx-padding: 12 0 6 0;
}

.appointment-date {
    -fx-font-family: "Playfair Display", serif;
    -fx-font-style: italic;
    -fx-font-size: 19px;
    -fx-text-fill: #375D8C;
}
.staff-name, .payment-method {
    -fx-font-size: 15px;
    -fx-text-fill: #232D3F;
}

.remarks {
    -fx-text-fill: #7F8C8D;
    -fx-font-size: 14px;
}

.status-badge {
    -fx-font-family: "Playfair Display", serif;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.page-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #375D8C;
}

.booking-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
    -fx-padding: 22 26 22 26;
    -fx-effect: dropshadow(three-pass-box, rgba(55,93,140,0.11), 14, 0, 0, 6);
    -fx-border-color: #98A7B8;
    -fx-border-width: 1.5px;
    -fx-border-radius: 20px;
}

.service-name {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #232D3F;
    -fx-font-family: "Playfair Display", serif;
}

.appointment-detail {
    -fx-font-size: 16px;
    -fx-text-fill: #98A7B8;
}

.status-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-padding: 6 16 6 16;
    -fx-text-fill: white;
    -fx-font-family: "Playfair Display", serif;
    -fx-background-color: #375D8C;
}

.edit-button {
    -fx-background-color: #98A7B8;
    -fx-text-fill: #fff;
    -fx-background-radius: 15px;
    -fx-padding: 8 24;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Playfair Display", serif;
    -fx-border-width: 0;
}

.edit-button:hover {
    -fx-background-color: #C27E35;
    -fx-text-fill: #fffbea;
}

.popup-title {
    -fx-font-family: "Playfair Display", serif;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-text-fill: #375D8C;
}
