/* base card container */
.service-card {
    -fx-background-color: white;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
    -fx-spacing: 20;
    -fx-font-family: "Playfair Display";
}

.add-card-button {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-color: #ddd;
    -fx-border-radius: 12;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
    -fx-pref-height: 100;
    -fx-pref-width: 1500;
    -fx-font-family: 'Playfair Display';
    -fx-font-size: 20px;
    -fx-text-fill: #0b4e91;
    -fx-alignment: center;
}


/* image section */
.image-box {
    -fx-alignment: center;
}
.service-image {
    -fx-border-color: #ddd;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.image-button {
    -fx-background-color: transparent;
    -fx-border-color: #888;
    -fx-border-radius: 20;
    -fx-padding: 4 12;
    -fx-font-family: "Playfair Display";
}

/* form labels and fields */
.form-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-font-family: "Playfair Display";
}
.form-field {
    -fx-background-color: transparent;
    -fx-border-color: #fafafa;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radis: 8;
    -fx-padding: 6 8;
    -fx-font-family: "Playfair Display";
}
.small-field {
    -fx-background-color: #fafafa;
    -fx-border-color: #fafafa;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 8;
    -fx-padding: 4 8;
    -fx-pref-width: 70;
    -fx-font-family: "Playfair Display";
}

/* action buttons */
.submit-button {
    -fx-background-color: #0b4e91;
    -fx-border-color: #0b4e91;
    -fx-text-fill: white;
    -fx-padding: 8 16;
    -fx-border-radius: 20;
    -fx-font-family: "Playfair Display";
    -fx-font-weight: bold;
}

.submit-button:hover {
    -fx-background-color: #0b4e91;
    -fx-text-fill: white;
}

.cancel-button {
    -fx-background-color: transparent;
    -fx-border-color: #dc3545;
    -fx-text-fill: #dc3545;
    -fx-padding: 8 16;
    -fx-border-radius: 20;
    -fx-font-family: "Playfair Display";
    -fx-font-weight: bold;
}
.cancel-button:hover {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
}
